.font-color {
  color: $font-color;
}
.bg-color {
  background-color: $bg-color;
}
.font-hover-color {
  color: $font-hover-color;
}
.logo-color {
  color: $logo-color;
}
.primary-color {
  color: $primary-color;
}
